body {
    color:#fff;
    background: #000;
    margin: 0;
    padding: 0;
}
main{
    width: 360px;
    margin: 0px auto;
    padding: 0;
}
div{
    display:block;
    margin: auto;
    padding: 0;
    width: 100%;
}
.capa{
    width: 100%;
    display:block;
    margin: auto;
}
h3{
    display:block;
    width: 94%;
    margin: auto;
    text-align:center;
}
figure{
    font-size:0.74em;
    width: 80%;
    display:block;
    margin: 15px auto;
}
p,h4{
    padding: 0px 10px;
}
figcaption{
    text-align:center;
    display:block;
    margin: auto;
    width: 85%;
}
.anne{
    width: 60%;
}
.p1,h2{
    display: block;
    text-align: center;
    margin: auto;
}
img{
    width: 100%;
}
.d_capa{
    margin:0 0 25px 0;
}
p{
    padding-bottom: 10px;
}
.video{
    text-align: center;
    display: block;
    width: 90%;
    margin: auto;
}
video{
    display: block;
    width: 100%;
    margin: auto;
}
@media screen and (min-width:425px){
    main{
        width: 425px;
    }
}
@media screen and (min-width:500px){
    main{
        width: 500px;
    }
    
}
@media screen and (min-width:650px){
    main{
        width: 650px;
    }
}
@media screen and (min-width:768px){
    main{
        width: 768px;
    }
}